* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #212529;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  width: 100%;
  height: 100vh;
  background: url(../img/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container {
  height: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

body .container .login {
  width: 340px;
  height: 100%;
  background-color: #fff;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 0 50px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .login form h2 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}

body .container .login form .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 20px 0 20px;
}

body .container .login form .icons img {
  width: 20px;
  margin-bottom: 20px;
}

body .container .login form .hr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

body .container .login form .hr hr {
  width: 40px;
  height: 2px;
}

body .container .login form .hr .p-center {
  text-align: center;
  font-size: 13px;
  opacity: .6;
}

body .container .login form .email {
  margin-bottom: 20px;
}

body .container .login form .email p {
  font-weight: 600;
}

body .container .login form .email input[type="email"] {
  border: none;
  border-bottom: solid 1px #212529;
  width: 100%;
  padding: 10px 0 10px 0;
}

body .container .login form .email input[type="email"]:focus {
  outline: none;
}

body .container .login form .password {
  margin-bottom: 20px;
}

body .container .login form .password p {
  font-weight: 600;
}

body .container .login form .password input[type="password"] {
  border: none;
  border-bottom: solid 1px #212529;
  width: 100%;
  padding: 10px 0 10px 0;
}

body .container .login form .password input[type="password"]:focus {
  outline: none;
}

body .container .login form input[type="submit"] {
  display: block;
  background-color: #7400B8;
  color: #fff;
  font-size: 14px;
  border: none;
  width: 240px;
  margin: auto;
  padding: 10px 0 10px 0;
  border-radius: 10px;
  margin-bottom: 20px;
}

body .container .login form .remember-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  margin-bottom: 20px;
}

body .container .login form .remember-me input[type="checkbox"] {
  margin-right: 10px;
}

body .container .login form .f-pass {
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin-bottom: 20px;
  text-align: center;
  color: #7400B8;
}

body .container .login form button {
  display: block;
  background-color: #fff;
  border: none;
  border: solid 1px #7400B8;
  color: #7400B8;
  font-size: 14px;
  padding: 5px 20px 5px 20px;
  border-radius: 20px;
  margin: auto;
  cursor: pointer;
}

body .container .welcome {
  width: 500px;
  height: 100%;
  background-color: #fbfbfb;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .welcome .welcome-container {
  margin: auto;
  text-align: center;
}

body .container .welcome .welcome-container h2 {
  margin-bottom: 50px;
  color: #7400B8;
}

body .container .welcome .welcome-container img {
  width: 400px;
}
/*# sourceMappingURL=styles.css.map */